body,
html {
  height: 100%;
}

#backgroundImg {
  /* background-image: url("/assets/images/back_img.jpg"); */
  height: 100%;
  background-color: #343a40;
  /* Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

* {
  font-family: "Bebas Neue", cursive;
}
.proj-name {
  font-size: 2.25rem;
  color: dimgray;
}

#custom-nav {
  font-size: 1.5rem;
  padding-left: 66%;
}

/* STYLE FOR WEATHER CARD */
body {
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  background-color: #cfd8dc;
  background-repeat: no-repeat;
}

.card {
  background-image: url("https://images.unsplash.com/photo-1603983732011-caaf6ca67a3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 4px #9e9e9e;
  margin-top: 50px;
  margin-bottom: 50px;
}

.time-font {
  font-size: 50px;
}

.sm-font {
  font-size: 18px;
}

.med-font {
  font-size: 28px;
}

.large-font {
  font-size: 60px;
}
