body,
html {
  height: 100%;
}

#bg-img {
  background-image: url("assets/images/back_img.jpg");
  height: 100%;

  /* Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

* {
  font-family: "Bebas Neue", cursive;
}
.proj-name {
  font-size: 2.25rem;
  color: dimgray;
}

#custom-nav {
  font-size: 1.5rem;
  padding-left: 66%;
}
